# Server
PORT=3000
NODE_ENV=development

# Database Password (Required for Docker Compose MySQL container)
MYSQL_ROOT_PASSWORD=your_mysql_password

# Database URL for Prisma
DATABASE_URL="mysql://root:your_mysql_password@localhost:3306/taskdb"
